{% extends "store/base.html" %}
{% block title %} <title>Open Store - About</title> {% endblock %}
{% block container %}

<div class="panel panel-default">
  <div class="panel-heading">关于</div>
  <div class="panel-body">
    <p>作者	<a href="https://github.com/phyng">@phyng</a></p>
    <p>Open Store 目标是一个「开放的应用商店」，未来主要的功能是 App 历史版本信息存档。</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">开发进度</h3>
  </div>
  <div class="panel-body">
<table class="table">
<tr>
<th>项目</th><th>开始时间</th><th>完成度</th>
</tr>
<tr>
<td>基本框架</td><td>2014-09-15</td><td>100%</td>
</tr>
<tr>
<td>用户系统</td><td>2014-09-18</td><td>50%</td>
</tr>
<tr>
<td>用户资料页面</td><td>2014-09-19</td><td>50%</td>
</tr>
<tr>
<td>用户评论</td><td>2014-09-19</td><td>50%</td>
</tr>
<tr>
<td>图片Proxy</td><td>2014-09-20</td><td>90%</td>
</tr>
<tr>
<tr>
<td>七牛存储图片</td><td>2014-09-21</td><td>100%</td>
</tr>
<td>搜索</td><td>2014-09-22</td><td>90%</td>
</tr>
<tr>
<td>部署HTTPS</td><td>2014-09-23</td><td>100%</td>
</tr>
</table>
  </div>
</div>

{% endblock %}
